*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li{
    text-decoration: none;
    list-style: none;
}
:root{
    --primary-color:rgb(224, 224, 224);
    --secondary-color:rgb(215, 215, 215);
    --white-color:rgb(255,255,255);
    --step-number-font-family:'IBM Plex Sans', sans-serif;
}


body{
    background-color: var(--primary-color);
    position: relative;
    height: 100vh;
}

input.form-control{
  padding: 10px;
}
.wizard-box{
 
    background-color:var(--secondary-color);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 100vh;


}

.wizard-box .progress{
  display: none;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 0 auto;
}

.wizard-box .progress > .progress-bar{
  background-color: #18181a;
}

.container-fluid{
    padding: 0 !important;
    margin: 0 !important;
}

.wizard{
    position: relative;
    overflow-x: hidden;
}

.wizard-box #step_number{
   
        margin-top: 150px;
        font-family: var(--step-number-font-family);
        font-size: 100px;
        color:var(--primary-color);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color:var(--white-color);
  
}

.tabs{
    display: none;
}

.step_number{
    z-index: 10;
    font-size: 50px;
}
.steps ul{
    display: flex;
    justify-content: center;
     text-align: center;
    gap:30px;
    margin-top:50px;
   
}
.steps ul li{
    color: rgb(0, 0, 0);
    line-height: 30px;
    display: inline;
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    opacity: 0.2;
}

.steps ul li.active{
    opacity: 1;
}

/* .steps ul li::before{
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 10px;
    background-color:black ;
    display: inline;
} */

.wizard-form .card{
    background-color: var(--secondary-color);
    border:none;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.button-57 {
    position: relative;
    overflow: hidden;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: var(--white-color);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
    
  }
  
  .button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;

  }
  
  .button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }

  .button-57 img{
    width: 30px;
  }

  .button-group .prev-img{
    transform: rotate(180deg);
  }
  


  @media (max-width:992px) {
    .steps ul{
       gap: 10px;
       
    }

  }

  @media (max-width:992px) {
    .wizard-box{
      height: 20vh;
      width:100%;
       
    }
    .wizard-form .card{
      max-width: 500px;
      width: 400px;
      margin: 30px auto;
    }
    .steps ul{
        gap: 5px;
        
     }

    .wizard-box #step_number{
        margin-top: 10px;

    }

  }

  @media(max-width:480px){
    .wizard-form .card{
      max-width: 500px;
      width: 400px;
      margin: 30px auto;
    }
    .steps ul{
        gap: 3px;
        
     }
  }

  
  @media(max-width:400px){
    .wizard-form .card{
      max-width: 500px;
      width: 300px;
      margin: 50px auto;
    }
    .steps ul{
        display: none;
        
     }
     .wizard .progress{
      display: block;
      max-width: 300px;
    width: 300px;
    margin-top: 22px !important;
      
      
     }
  }